<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>address</key>
	<string>广东省东莞市</string>
	<key>city</key>
	<string>东莞市</string>
	<key>cover</key>
	<array>
		<string>30f90874-4be0-4d48-a0b3-69a3570a22b6</string>
		<string>c94f693b-e936-479f-ad66-6f2709b093d4</string>
		<string>1da9e665-7cee-4460-8130-3d2516bd2aa5</string>
		<string>5a193d8e-e30b-4e0e-a89e-1543910771de</string>
		<string>937ffb66-6bc1-4079-80e8-7058a7dbccc1</string>
	</array>
	<key>district</key>
	<string></string>
	<key>end</key>
	<real>0.0</real>
	<key>introduction</key>
	<string>Let's go, tell me a better KTV,I will give you my fire😀</string>
	<key>latitude</key>
	<real>23.046237999999999</real>
	<key>location</key>
	<string>New Face量贩KTV</string>
	<key>longitude</key>
	<real>113.746262</real>
	<key>pay</key>
	<string>我请客</string>
	<key>province</key>
	<string>广东省</string>
	<key>seat</key>
	<integer>3</integer>
	<key>start</key>
	<real>1438054440000</real>
	<key>type</key>
	<string>唱歌</string>
</dict>
</plist>
