<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityId</key>
	<string>89dd2c29-5c3d-4f22-bf1f-770ee8c58d1a</string>
	<key>cover</key>
	<array>
		<dict>
			<key>thumbnail_pic</key>
			<string>http://7xknzo.com1.z0.glb.clouddn.com/asset/activity/cover/ab99abd1-99fa-4b83-8ad3-c7d9c2685bf6/cover.png?imageView2/1/w/200</string>
			<key>coverId</key>
			<string>ab99abd1-99fa-4b83-8ad3-c7d9c2685bf6</string>
		</dict>
		<dict>
			<key>thumbnail_pic</key>
			<string>http://7xknzo.com1.z0.glb.clouddn.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png?imageView2/1/w/200</string>
			<key>coverId</key>
			<string>bf6236a9-55e3-4503-ab69-eb504623b8d2</string>
		</dict>
	</array>
	<key>holdingSeat</key>
	<integer>1</integer>
	<key>introduction</key>
	<string>Let&apos;s go, tell me a better KTV,I will give you my fire</string>
	<key>location</key>
	<string>南京紫金山</string>
	<key>members</key>
	<array/>
	<key>organizer</key>
	<dict>
		<key>age</key>
		<integer>30</integer>
		<key>carBrandLogo</key>
		<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
		<key>carModel</key>
		<string>奥迪A4L</string>
		<key>drivingExperience</key>
		<integer>3</integer>
		<key>gender</key>
		<string>男</string>
		<key>nickname</key>
		<string>孔明</string>
		<key>photo</key>
		<string>http://7xknzo.com1.z0.glb.clouddn.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png?imageView2/1/w/200</string>
	</dict>
	<key>pay</key>
	<string>我请客</string>
	<key>publishTime</key>
	<integer>1438047297685</integer>
	<key>start</key>
	<integer>1438054440000</integer>
	<key>totalSeat</key>
	<integer>4</integer>
	<key>type</key>
	<string>唱歌</string>
	<key>longitude</key>
	<real>118.869529</real>
	<key>latitude</key>
	<string>32.02632</string>
</dict>
</plist>
