<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>夜宵</key>
	<string>吃夜宵</string>
	<key>咖啡</key>
	<string>喝咖啡</string>
	<key>夜店</key>
	<string>去夜店</string>
	<key>足球</key>
	<string>踢球</string>
	<key>篮球</key>
	<string>打篮球</string>
	<key>羽毛球</key>
	<string>打羽毛球</string>
	<key>桌球</key>
	<string>玩桌球</string>
</dict>
</plist>
