<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>organizer</key>
		<dict>
			<key>drivingExperience</key>
			<integer>3</integer>
			<key>carModel</key>
			<string>奥迪a6</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<integer>20</integer>
			<key>photo</key>
			<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
			<key>carBrandLogo</key>
			<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
			<key>nickname</key>
			<string>孔明</string>
		</dict>
		<key>cover</key>
		<array>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
		</array>
		<key>members</key>
		<array/>
		<key>availableSeat</key>
		<integer>4</integer>
		<key>totalSeat</key>
		<integer>5</integer>
		<key>pay</key>
		<string>请客</string>
		<key>type</key>
		<string>鲁行</string>
		<key>location</key>
		<string>紫金山</string>
		<key>introduction</key>
		<string>南京紫金山一日游，早上7点在苜蓿园站集合</string>
		<key>start</key>
		<integer>1432857600000</integer>
		<key>activityId</key>
		<string>55838b12-7039-41e5-9150-6dd154de961b</string>
		<key>publishTime</key>
		<integer>1436342730635</integer>
	</dict>
	<dict>
		<key>organizer</key>
		<dict>
			<key>drivingExperience</key>
			<integer>3</integer>
			<key>carModel</key>
			<string>奥迪a6</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<integer>20</integer>
			<key>photo</key>
			<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
			<key>carBrandLogo</key>
			<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
			<key>nickname</key>
			<string>孔明</string>
		</dict>
		<key>cover</key>
		<array>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
		</array>
		<key>members</key>
		<array/>
		<key>availableSeat</key>
		<integer>4</integer>
		<key>totalSeat</key>
		<integer>5</integer>
		<key>pay</key>
		<string>请客</string>
		<key>type</key>
		<string>鲁行</string>
		<key>location</key>
		<string>紫金山</string>
		<key>introduction</key>
		<string>南京紫金山一日游，早上7点在苜蓿园站集合</string>
		<key>start</key>
		<integer>1432857600000</integer>
		<key>activityId</key>
		<string>55838b12-7039-41e5-9150-6dd154de961b</string>
		<key>publishTime</key>
		<integer>1436342730635</integer>
	</dict>
	<dict>
		<key>organizer</key>
		<dict>
			<key>drivingExperience</key>
			<integer>3</integer>
			<key>carModel</key>
			<string>奥迪a6</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<integer>20</integer>
			<key>photo</key>
			<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
			<key>carBrandLogo</key>
			<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
			<key>nickname</key>
			<string>孔明</string>
		</dict>
		<key>cover</key>
		<array/>
		<key>members</key>
		<array/>
		<key>availableSeat</key>
		<integer>4</integer>
		<key>totalSeat</key>
		<integer>5</integer>
		<key>pay</key>
		<string>请客</string>
		<key>type</key>
		<string>鲁行</string>
		<key>location</key>
		<string>紫金山</string>
		<key>introduction</key>
		<string>南京紫金山一日游，早上7点在苜蓿园站集合</string>
		<key>start</key>
		<integer>1432857600000</integer>
		<key>activityId</key>
		<string>55838b12-7039-41e5-9150-6dd154de961b</string>
		<key>publishTime</key>
		<integer>1436342730635</integer>
	</dict>
	<dict>
		<key>organizer</key>
		<dict>
			<key>drivingExperience</key>
			<integer>3</integer>
			<key>carModel</key>
			<string>奥迪a6</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<integer>20</integer>
			<key>photo</key>
			<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
			<key>carBrandLogo</key>
			<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
			<key>nickname</key>
			<string>孔明</string>
		</dict>
		<key>cover</key>
		<array/>
		<key>members</key>
		<array/>
		<key>availableSeat</key>
		<integer>4</integer>
		<key>totalSeat</key>
		<integer>5</integer>
		<key>pay</key>
		<string>请客</string>
		<key>type</key>
		<string>鲁行</string>
		<key>location</key>
		<string>紫金山</string>
		<key>introduction</key>
		<string>南京紫金山一日游，早上7点在苜蓿园站集合</string>
		<key>start</key>
		<integer>1432857600000</integer>
		<key>activityId</key>
		<string>55838b12-7039-41e5-9150-6dd154de961b</string>
		<key>publishTime</key>
		<integer>1436342730635</integer>
	</dict>
	<dict>
		<key>organizer</key>
		<dict>
			<key>drivingExperience</key>
			<integer>3</integer>
			<key>carModel</key>
			<string>奥迪a6</string>
			<key>gender</key>
			<string>女</string>
			<key>age</key>
			<integer>20</integer>
			<key>photo</key>
			<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
			<key>carBrandLogo</key>
			<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
			<key>nickname</key>
			<string>孔明</string>
		</dict>
		<key>cover</key>
		<array>
			<dict>
				<key>thumbnail_pic</key>
				<string>http://cwapi.gongpingjia.com/asset/activity/cover/bf6236a9-55e3-4503-ab69-eb504623b8d2/cover.png</string>
			</dict>
		</array>
		<key>members</key>
		<array/>
		<key>availableSeat</key>
		<integer>99</integer>
		<key>totalSeat</key>
		<integer>100</integer>
		<key>pay</key>
		<string>请客</string>
		<key>type</key>
		<string>鲁行</string>
		<key>location</key>
		<string>紫金山</string>
		<key>introduction</key>
		<string>南京紫金山一日游，早上7点在苜蓿园站集合,集合啊啊啊啊,你们在干什么啊你打法律框架爱多少分两块大厦开房了的实际付款后骄傲看得十分好看就阿訇多</string>
		<key>start</key>
		<real>1432857600000</real>
		<key>activityId</key>
		<string>55838b12-7039-41e5-9150-6dd154de961b</string>
		<key>publishTime</key>
		<real>1436342730635</real>
	</dict>
	<dict>
		<key>organizer</key>
		<dict>
			<key>drivingExperience</key>
			<integer>3</integer>
			<key>carModel</key>
			<string>奥迪a6</string>
			<key>gender</key>
			<string>男</string>
			<key>age</key>
			<integer>20</integer>
			<key>photo</key>
			<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
			<key>carBrandLogo</key>
			<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
			<key>nickname</key>
			<string>孔明</string>
		</dict>
		<key>cover</key>
		<array/>
		<key>members</key>
		<array>
			<dict>
				<key>drivingExperience</key>
				<integer>3</integer>
				<key>carModel</key>
				<string>奥迪a6</string>
				<key>gender</key>
				<string>女</string>
				<key>age</key>
				<integer>20</integer>
				<key>photo</key>
				<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
				<key>carBrandLogo</key>
				<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
				<key>nickname</key>
				<string>孔明</string>
			</dict>
			<dict>
				<key>drivingExperience</key>
				<integer>3</integer>
				<key>carModel</key>
				<string>奥迪a6</string>
				<key>gender</key>
				<string>女</string>
				<key>age</key>
				<integer>20</integer>
				<key>photo</key>
				<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
				<key>carBrandLogo</key>
				<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
				<key>nickname</key>
				<string>孔明</string>
			</dict>
			<dict>
				<key>drivingExperience</key>
				<integer>3</integer>
				<key>carModel</key>
				<string>奥迪a6</string>
				<key>gender</key>
				<string>女</string>
				<key>age</key>
				<integer>20</integer>
				<key>photo</key>
				<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
				<key>carBrandLogo</key>
				<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
				<key>nickname</key>
				<string>孔明</string>
			</dict>
			<dict>
				<key>drivingExperience</key>
				<integer>3</integer>
				<key>carModel</key>
				<string>奥迪a6</string>
				<key>gender</key>
				<string>女</string>
				<key>age</key>
				<integer>20</integer>
				<key>photo</key>
				<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
				<key>carBrandLogo</key>
				<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
				<key>nickname</key>
				<string>孔明</string>
			</dict>
			<dict>
				<key>drivingExperience</key>
				<integer>3</integer>
				<key>carModel</key>
				<string>奥迪a6</string>
				<key>gender</key>
				<string>女</string>
				<key>age</key>
				<integer>20</integer>
				<key>photo</key>
				<string>http://cwapi.gongpingjia.com/asset/user/846de312-306c-4916-91c1-a5e69b158014/avatar.png</string>
				<key>carBrandLogo</key>
				<string>http://gongpingjia.qiniudn.com/img/logo/7206452af3747880ddd07398a95b9bdbebbc963e.jpg</string>
				<key>nickname</key>
				<string>孔明</string>
			</dict>
		</array>
		<key>availableSeat</key>
		<integer>4</integer>
		<key>totalSeat</key>
		<integer>5</integer>
		<key>pay</key>
		<string>请客</string>
		<key>type</key>
		<string>鲁行</string>
		<key>location</key>
		<string>紫金山</string>
		<key>introduction</key>
		<string>南京紫金山一日游，早上7点在苜蓿园站集合</string>
		<key>start</key>
		<integer>1432857600000</integer>
		<key>activityId</key>
		<string>55838b12-7039-41e5-9150-6dd154de961b</string>
		<key>publishTime</key>
		<integer>1436342730635</integer>
	</dict>
</array>
</plist>
